html {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, "Geneva", Verdana, sans-serif;
    background-image: radial-gradient(#F2A71B, white);
}

h1 {
    font-size: 70px;
    font-weight: 600;
    font-style: oblique;
    background-image: linear-gradient(to left, #011f26, #0387a5 );
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-align: center;
}

#font-span {
    font-weight: lighter;
    font-weight: 40;
    font-style: italic;
    font-size: 50px;
}

p {
    background-color:#A5A692;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 100px;
    border-radius: 20px;
}

p::first-letter {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
  }

.ul-link {
    list-style: none;
    position: sticky;
    border: none;

}

li a {
    color: white;
    text-align: center;
    padding: 14px;
    float: left;
}

li a:hover{
    background-color: #0387a5;
}
  img{
    margin-left: 50%;
    margin-top: auto;
    margin-bottom: auto;
  }

footer {
    text-align: center;
    position: fixed;
    bottom: 0%;
    left: 0%;
    width: 100%;
}